<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.newlearn.mapper.BoardMapper">

    <sql id="selProduct">
        SELECT *
        FROM PRODUCT
    </sql>

    <select id="getProductBoardList" resultType="com.example.newlearn.dto.ProductDto">
        <include refid="selProduct"></include>
        ORDER BY no DESC
    </select>

    <select id="productBoardDetail" parameterType="int" resultType="com.example.newlearn.dto.ProductDto">
        <include refid="selProduct"></include>
        WHERE no=#{no}
    </select>

    <select id="getMyProductList" parameterType="java.lang.String" resultType="com.example.newlearn.dto.ProductDto">
        <include refid="selProduct"></include>
        WHERE ID=#{VALUE}
    </select>

    <insert id="productBoardInsert" parameterType="com.example.newlearn.dto.ProductDto" keyProperty="no">
        INSERT INTO PRODUCT (id, productname, productprice, productorigin, productcategory, filename)
        VALUES( #{id}, #{productName}, #{productPrice}, #{productOrigin}, #{productCategory}, #{fileName})

    </insert>

    <update id="productBoardUpdate" parameterType="com.example.newlearn.dto.ProductDto">
        UPDATE PRODUCT SET productName=#{productName},
        productPrice=#{productPrice},productOrigin=#{productOrigin},
        productCategory=#{productCategory}
        <if test="fileName!=null">
            ,
            fileName=#{fileName}
        </if>

        WHERE NO=#{no}

    </update>

    <delete id="productBoardDelete" parameterType="int">
        DELETE FROM PRODUCT WHERE NO=#{no}
    </delete>

    <select id="getMyProductInfo" parameterType="java.lang.Integer" resultType="com.example.newlearn.dto.ProductDto">
        <include refid="selProduct"></include>
        <where>
            NO=#{VALUE}
        </where>
    </select>


    <!-- paging -->
    <select id="selectProductList" parameterType="com.example.newlearn.dto.ProductDto" resultType="com.example.newlearn.dto.ProductDto">
        SELECT
        *
        FROM
        PRODUCT
        ORDER BY
        regdate DESC
        LIMIT
        #{paginationInfo.firstRecordIndex}, #{recordsPerPage}
    </select>

    <select id="selectProductTotalCount" parameterType="com.example.newlearn.dto.ProductDto" resultType="int">
        SELECT
            COUNT(*)
        FROM
            PRODUCT
    </select>

</mapper>


