<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

<!--  관리자페이지 구현 X  -->

<title>관리자</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!-- <link href="/web/css/contents.css" rel="stylesheet" type="text/css" /> -->
<link th:href="@{/css/default.css}" rel="stylesheet" type="text/css" />

<script type="text/javascript">

</script>
</head>
<body>
<h2>[[${session.id}]]님, 환영합니다.</h2>
	<div id="wrap">
		<!-- header -->
		
		<!--// header -->

		<div id="sub_container">
			<div id="contentsWrap" class="sub_con5">
				<div class="board_form">   
		            <div class="con_title">
		               <p>상품 등록/보기/수정</p>   
		            </div>


					<div class="contents">
					<div class="btnSet clfix mgb15">
						<span class="fr"> <span class="button"><a th:href="@{/add}">등록</a></span>
						</span>&nbsp;
						<span class="fr"> <span class="button"><a th:href="@{/product}">목록</a></span>
						</span>
					</div>


					<table class="bbsWrite mgb35">
						<caption></caption>
						<colgroup>
							<col width="95" />
							<col width="395" />
							<col width="95" />
							<col />
						</colgroup>
						<tbody>
						<form action="" method="get">
							<tr>
								<th>업체명</th>
								<td><select style="width: 200px;">
										<option>선택하세요</option>
										<option value="productname">상품명</option>
										<option value="country">원산지</option>
										<option value="kinds">종류</option>
										<option value="id">판매자</option>
								</select></td>
								<th>상품명</th>
								<td><input type="text" id="search" name="" style="border:1px solid #ddd; height:20px;" class="inputText" size="30" />
									<span class="button"><a href="#">검색</a></span></td>
							</tr>
						</form>
						</tbody>
					</table>
							<table class="bbsList">
								<colgroup>
									<col width="80" />
									<col width="170" />
									<col width="170" />
									<col width="170" />
									<col width="170" />
									<col width="150" />
									<col width="190" />
									<col width="170" />
								</colgroup>
								<thead>

									<tr>
										<th scope="col" style="text-align: center">NO.</th>
										<th scope="col" style="text-align: center">상품명</th>
										<th scope="col" style="text-align: center">이미지</th>
										<th scope="col" style="text-align: center">원산지</th>
										<th scope="col" style="text-align: center">가격</th>
										<th scope="col" style="text-align: center">종류</th>
										<th scope="col" style="text-align: center">날짜</th>
										<th scope="col" style="text-align: center">판매자</th>
										
									</tr>
								</thead>
								<tbody>

									<tr th:each="data : ${productDtos}">
										<!--/*@thymesVar id="no" type=""*/-->
										<td th:text="${data.no}"> </td>
										<td>
										<a th:text="${data.productName}" th:href="@{/productInfo/{no}(no=${data.no})}">
										
										</a>
										</td>
										<td>
										<img th:src="@{/upload/{filename}(filename=${data.fileName})}" width="50" height="50"></img></td>
										<td th:text="${data.productOrigin}"></td>
										<td th:text="${data.productPrice}"></td>
										<td th:text="${data.productCategory}"></td>
										<td th:text="${data.regdate}"></td>
										<td th:text="${data.id}"></td>
									
									</tr>								
								</tbody>
							</table>


							<th:block layout:fragment="paging">
								<nav th:replace="cart/fragments/common :: pagination"></nav>
							</th:block>
<!--						<div class="container" style="width:900px;">-->
<!--							<ul class="pagination" >-->
<!--								<li><a href="#">이전</a></li>-->
<!--								<li><a href="#">1</a></li>-->
<!--								<li class="active"><a href="#">2</a></li>-->
<!--								<li><a href="#">3</a></li>-->
<!--								<li><a href="#">4</a></li>-->
<!--								<li><a href="#">5</a></li>-->
<!--								<li><a href="#">다음</a></li>-->
<!--							</ul>-->
<!--						</div>-->

						<th:block layout:fragment="script">
							<script th:inline="javascript">
								/*<![CDATA[*/

								function movePage(uri, queryString) {
									location.href = uri + queryString;
								}

								/*]]>*/
							</script>
						</th:block>
						</div>
					</div>
				</div>
			</div>
	
  
	</div>
</body>
</html>